/* * * * * * * * * * * * * * * * * * */
/* CSS Styles Applied to All Pages */
/* * * * * * * * * * * * * * * * * * */


* {
    padding: 0;
    margin: 0;
}
a, a:hover {
    color: initial;
    text-decoration: none;
}

.overflowAuto {
    overflow-y: auto;
}

body {
    min-width: 300px;
    overflow-x: hidden;
    width: 100%;
    background-color: white;
    padding: 10px;
}
#wrap {
    width: 100%;
    background-color: #EEEEEE;
    height: auto;
}





/* NavBar Home, Menu Buttons */

.homeBtn {
    position: absolute;
    top: 15px; left: 15px;
    height: 40px;
    line-height: 40px;
}

.menuBtnBox {
    position: absolute;
    top: 15px; right: 15px;
    width: 44px; height: 40px;
    /* border: 1px solid; */
    padding: 4px;
}
.menuBtnBox:hover {
    cursor: pointer;
}
.menuBar {
    position: absolute;
    top: 5px;
    width: 80%;
    height: 4px;
    background-color: royalblue;
    border-radius: 2px;
}
.menuBarMid {
    top: 16px;
    transition: all 0.3s;
}
.menuBarBot {
    top: 27px;
    transition: all 0.3s;
}

.buttonOpen {
    z-index: 20;
}
.buttonOpen .menuBarTop {
    opacity: 0;
}
.buttonOpen .menuBarMid {
    transform: rotate(45deg);
}
.buttonOpen .menuBarBot {
    transform: rotate(135deg);
    top: 16px;
}










