
/* * * * * PICTURE FRAME* * * * * * * * * * * * * * * * * */

.pictureContainer {
    width: 100%;
    padding-top: 120%;
    position: relative;
    margin-top: 10px;
}
@media screen and (min-width: 576px) {
    .pictureContainer {
        padding-top: 100%;
    }
}
@media screen and (min-width: 768px) {
    .pictureContainer {
        padding-top: 80%;
    }
}
@media screen and (min-width: 992px) {
    .pictureContainer {
        padding-top: 60%;
    }
}

.pictureFrame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(199, 230, 255), rgb(220, 238, 253), rgb(199, 230, 255)) ;
}
.frameSec {
    float: left;
    height: 100%;
    position: relative;
}
.frameL, .frameR {
    display: none;
}
.frameM {
    width: 100%;
    border-bottom: 15px solid rgb(59, 90, 78);
}
@media screen and (min-width: 576px) {
    .frameL, .frameR {
        display: block;
        width: 25%;
    }
    .frameM {
        width: 50%;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * *  C A S T L E  * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.castle {
    position: absolute;
    bottom: 0;
}

.castle.towerTriRotateOuter {
    width: calc(100% / 1.4142);
    padding-top: calc(100% / 1.4142);
    left: 15%;
    bottom: 80%;
    transform: rotate(-45deg);
    transform-origin: 70% 60%;
}
.castle.towerTriRotateInner {
    width: 100%; height: 100%;
    background: linear-gradient(to right bottom, rgb(90, 104, 109), rgb(48, 58, 59));
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
}


/* * * * * CENTER BACK TOWER (TALLEST) * * * * * */

.castle.backTallestTower {
    width: 9.5%;
    height: 70%;
    left: 43%;
    background-color: rgb(148, 155, 158);
}
.castle.backTallestTowerMid {
    width: 120%;
    height: 5%;
    left: -10%;
    bottom: 100%;
    background-color: rgb(187, 179, 134);
}
.castle.backTallestTowerMid > .castle.towerTriRotateOuter {
    bottom: 44%;
}

/* * * * * BACK MAIN BLDG * * * * * */

.castle.backMainBd {
    width: 38%;
    height: 39%;
    background-color: rgb(163, 167, 163);
    left: 31%;
}
.castle.backMainBdTop {
    background-image: linear-gradient(to right, rgb(163, 167, 163) 10%, rgb(187, 179, 134) 10%, rgb(187, 179, 134) 90%, rgb(163, 167, 163) 90%);
    left: 50%;
    transform: translate(-50%);
    height: 5%;
    border-left: 10px solid rgb(90, 104, 109);
    border-right: 10px solid rgb(90, 104, 109);
}
.castle.backMainBdTop:nth-of-type(1) {
    width: 95%;
    bottom: 100%;
}
.castle.backMainBdTop:nth-of-type(2) {
    width: 83%;
    bottom: 105%;
}
.castle.backMainBdTop:nth-of-type(3) {
    width: 71%;
    bottom: 110%;
}
.castle.backMainBdTop:nth-of-type(4) {
    width: 59%;
    bottom: 115%;
}
.castle.backMainBdTop:nth-of-type(5) {
    width: 47%;
    bottom: 120%;
}
.castle.backMainBdTop:nth-of-type(6) {
    width: 35%;
    bottom: 125%;
}
.castle.backMainBdTop:nth-of-type(7) {
    width: 23%;
    bottom: 130%;
}
.castle.backMainBdTop:nth-of-type(8) {
    width: 11%;
    bottom: 135%;
    background-color: rgb(90, 104, 109);
}



/* * * * * BACK LEFT TOWER * * * * * */

.castle.backLeftTower {
    width: 11%;
    height: 56%;
    background-color: rgb(193, 204, 199);
    left: 21%;
}
.castle.backLeftTowerMid {
    width: 120%;
    height: 9%;
    background-color: rgb(211, 207, 161);
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
}
.castle.backLeftTowerMidDeco {
    width: 120%;
    height: 40%;
    background-color: rgb(221, 214, 173);
    left: 50%;
    bottom: initial;
    top: 50%;
    transform: translate(-50%, -50%);
}
.castle.backLeftTowerMid > .castle.towerTriRotateOuter {
    bottom: 44%;
}


/* * * * * BACK RIGHT TOWER * * * * * */
.castle.backRightTower {
    width: 14%;
    height: 54%;
    background-color: rgb(193, 204, 199);
    left: 67%;
}
.castle.backRightTowerMid {
    width: 120%;
    height: 5%;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(211, 207, 161);
}
.castle.backRightTowerMid:nth-of-type(2) {
    width: 140%;
    bottom: 105%;
    background-image: linear-gradient(to top, rgb(221, 214, 173) 50%, rgb(90, 104, 109) 50%);
}
.castle.backRightTowerTop {
    width: 80%;
    height: 13%;
    bottom: 110%;
    background-color: rgb(193, 204, 199);
    left: 10%;
}
.castle.backRightTowerWindow {
    width: 40%;
    height: 50%;
    border-radius: 50% 50% 0 0;
    background-color: rgb(90, 104, 109);
    left: 50%;
    bottom: initial;
    top: 50%;
    transform: translate(-50%, -50%);
}
.castle.backRightTowerTopMid {
    width: 128%;
    height: 40%;
    bottom: 100%;
    background-color: rgb(221, 214, 173);
    left: -14%;
}
.castle.backRightTowerTopMid > .castle.towerTriRotateOuter {
    bottom: 10%;
}


/* * * * * CASTLE (CENTER) MAIN BUILDING * * * * * */

.castle.mainBd {
    width: 30%;
    height: 30%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(226, 133, 59);
}
.castle.mainBdTop {
    width: 10%;
    bottom: 100%;
    background-color: rgb(226, 133, 59);
    border-top: 10px solid rgb(90, 104, 109);
}
.castle.mainBdTop:nth-child(1) {height: 10%; left: 15%;}
.castle.mainBdTop:nth-child(2) {height: 15%; left: 25%;}
.castle.mainBdTop:nth-child(3) {height: 20%; left: 35%;}
.castle.mainBdTop:nth-child(4) {height: 25%; left: 45%;}
.castle.mainBdTop:nth-child(5) {height: 20%; right: 35%;}
.castle.mainBdTop:nth-child(6) {height: 15%; right: 25%;}
.castle.mainBdTop:nth-child(7) {height: 10%; right: 15%;}

.castle.mainGate {
    width: 20%;
    height: 25%;
    left: 40%;
    background-color: rgb(187, 179, 134);
}
.castle.mainGateDoor {
    width: 50%;
    left: 25%;
    height: 50%;
    background: linear-gradient(90deg, #461f0f 20%, #6d2f17 20%, #6d2f17 40%, #461f0f 40%, #461f0f 60%, #6d2f17 60%, #6d2f17 80%, #461f0f 80%, #461f0f 100%);
}
.castle.mainGateDoorTop {
    width: 100%;
    bottom: 75%;
    background: linear-gradient(90deg, #461f0f 20%, #6d2f17 20%, #6d2f17 40%, #461f0f 40%, #461f0f 60%, #6d2f17 60%, #6d2f17 80%, #461f0f 80%, #461f0f 100%);
    height: 50%;
    border-radius: 50%;
}



/* * * * * CASTLE SIDE BUILDINGS * * * * * */

.castle.sideBd  {
    width: 20%;
    height: 20%;
    background-color: rgb(226, 133, 59);
    border: 5px solid rgb(187, 179, 134);
    border-bottom: none;
}
.castle.sideL {
    left: 15%;
}
.castle.sideR {
    right: 15%;
}
.castle.sideDeco {
    width: calc(100% / 7);
    height: 15%;
    background-color: rgb(187, 179, 134);
    bottom: 100%;
}
.castle.sideDeco:nth-child(2) {left: calc(200% / 7);}
.castle.sideDeco:nth-child(3) {left: calc(400% / 7);}
.castle.sideDeco:nth-child(4) {left: calc(600% / 7);}
.castle.sideShield {
    width: 0;
    height: 0;
    bottom: initial;
    right: 50%;
    border-top: 10px solid transparent;
    border-right: 30px solid rgb(90, 104, 109);
    border-bottom: 35px solid transparent;
    top: 50%;
    transform: translate(0, -50%);
}
.castle.sideShield.sideShieldR {
    transform: rotateY(180deg) translate(0, -50%);
    transform-origin: right;
    border-right-color: rgb(48, 58, 59);
}




/* * * * * CASTLE TOWERS * * * * * */

.castle.tower {
    width: 10%;
    height: 30%;
    background: linear-gradient(to right, rgb(221, 214, 173) 50%, rgb(211, 207, 161) 50%);
}
.castle.towerL {
    left: 5%;
}
.castle.towerR {
    right: 5%;
}
.castle.towerMid {
    bottom: 100%;
    width: 130%;
    height: 10%;
    left: -15%;
    background-color: rgb(90, 104, 109);
}
/* .castle.towerTri {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #4D4B4E;
    bottom: 100%;
} */




.castle.towerMidDeco {
    bottom: 50%;
    width: calc(100% / 7);
    height: 120%;
    background: #b6a377;
}
#towerDeco2 {left: calc(200% / 7);}
#towerDeco3 {left: calc(400% / 7);}
#towerDeco4 {left: calc(600% / 7);}
.castle.towerMidStrip {
    width: 100%;
    height: 50%;
    background: #b6a377;
    bottom: 75%;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * *  T R E E S  * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


.trees {
    position: absolute;
    bottom: 0;
}

/* * * * * TREES - LEFT * * * * * */

.meadowL1 {
    width: 80%;
    height: 3%;
    border-radius: 200% 330% 0 0;
    background: lightgreen;
}
.meadowL2 {
    width: 55%;
    height: 6%;
    border-radius: 300% 250% 0 0;
    background: greenyellow;
    left: 20%;
}

.treeL1Trunk {
    width: 4%;
    height: 25%;
    background-color: rgb(100, 51, 19);
    border-radius: 2px;
    left: 20%;
}
.treeL1Leaf {
    width: 10%;
    height: 7%;
    background-color: forestgreen;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
}
.treeL1Leaf.leaf1 {
    bottom: 24%;
    left: 20%;
    transform: rotate(-20deg);
    transform-origin: bottom;
}
.treeL1Leaf.leaf2 {
    bottom: 18%;
    left: 23%;
}
.treeL1Leaf.leaf3 {
    bottom: 19%;
    left: 21%;
    transform: rotateY(180deg);
    transform-origin: left;
}
.treeL1Leaf.leaf4 {
    bottom: 11.5%;
    left: 23%;
}
.treeL1Leaf.leaf5 {
    bottom: 13%;
    left: 21%;
    transform: rotateY(180deg);
    transform-origin: left;
}
.treeL1Leaf.leaf6 {
    bottom: 6%;
    left: 23%;
}
.treeL1Leaf.leaf7 {
    bottom: 7%;
    left: 21%;
    transform: rotateY(180deg);
    transform-origin: left;
}

.treeL2Trunk {
    width: 4%;
    height: 20%;
    background: rgb(65, 32, 14);
    right: 30%;
    border-radius: 2px;
}
.treeL2Leaf1Outer {
    width: 25%;
    padding-top: 25%;
    right: 20%;
    bottom: 19%;
}
.treeL2Leaf2Outer {
    width: 15%;
    padding-top: 15%;
    right: 32%;
    bottom: 15%;
}
.treeL2Leaf3Outer {
    width: 20%;
    padding-top: 20%;
    right: 16%;
    bottom: 14%;
}
.treeL2Leaf1, .treeL2Leaf2, .treeL2Leaf3 {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, green 50%, rgb(43, 175, 43) 50%);
    border-radius: 50%;
}




/* * * * * TREES - RIGHT * * * * * */

.meadowR1 {
    width: 80%;
    height: 2%;
    border-radius: 150% 200% 0 0;
    background: lightgreen;
    right: 2%;
}
.meadowR2 {
    width: 40%;
    height: 4%;
    border-radius: 300% 250% 0 0;
    background: greenyellow;
    right: 35%;
}
.meadowR3 {
    width: 30%;
    height: 5%;
    border-radius: 180% 300% 0 0;
    background: rgb(147, 226, 29);
    right: 7%;
}

.treeR1Trunk {
    width: 4%;
    height: 23%;
    background: rgb(65, 32, 14);
    left: 40%;
    border-radius: 2px;
}
.treeR1Leaf1Outer, .treeR1Leaf2Outer, .treeR1Leaf3Outer {
    width: 15%;
    padding-top: 15%;
    transform: rotate(-45deg);
    transform-origin: 70% 60%;
    left: 34%;
    bottom: 21%;
}
.treeR1Leaf2Outer {
    width: 18%;
    padding-top: 18%;
    bottom: 16%;
    left: 33%;
}
.treeR1Leaf3Outer {
    width: 21%;
    padding-top: 21%;
    bottom:11%;
    left: 32%;
}
.treeR1Leaf1, .treeR1Leaf2, .treeR1Leaf3 {
    width: 100%;
    height: 100%;
    background: green;
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
}


.treeR2Trunk {
    width: 4%;
    height: 22%;
    background: rgb(65, 32, 14);
    right: 20%;
    border-radius: 4px;
}
.treeR2Branch1, .treeR2Branch2, .treeR2Branch3 {
    width: 50%;
    height: 17%;
    background: rgb(65, 32, 14);
    left: 0%;
    bottom: 85%;
    transform: rotate(-45deg);
    transform-origin: bottom;
    border-radius: 2px;
}
.treeR2Branch2 {
    bottom: 75%;
    left: 30%;
    transform: rotate(50deg);
}
.treeR2Branch3 {
    bottom: 68%;
    transform: rotate(-40deg);
}
.treeR2Leaf1 {
    width: 24%;
    height: 14%;
    background: green;
    border-radius: 10px;
    right: 10%;
    bottom: 12%;
}
.treeR2Leaf2 {
    top: 7px; left: 7px; right: 7px; bottom: 7px;
    border-radius: 7px;
    background: rgb(0, 170, 0);
}
.treeR2Leaf3 {
    top: 7px; left: 7px; right: 7px; bottom: 7px;
    border-radius: 7px;
    background: rgb(0, 214, 0);
}


/* .castle.towerTriRotateOuter {
    width: calc(100% / 1.4142);
    padding-top: calc(100% / 1.4142);
    left: 15%;
    bottom: 80%;
    transform: rotate(-45deg);
    transform-origin: 70% 60%;
}
.castle.towerTriRotateInner {
    width: 100%; height: 100%;
    background: linear-gradient(to right bottom, rgb(90, 104, 109), rgb(48, 58, 59));
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
} */



