@import "./style.scss";

// * * * * * * * * * * * * * * * * * * * * * * * * * * * *  //
// * * * * * * * * * VARIABLES * * * * * * * * * * * * //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * *  //

$meadowLt: rgb(154, 193, 92);
$meadowMd: rgb(127, 177, 60);
$meadowDk: rgb(94, 133, 44);

$leafLt: rgb(181, 218, 113);
$leafMd: rgb(139, 198, 97);
$leafDk: rgb(84, 171, 83);

$trunkLt: rgb(132, 86, 57);
$trunkMd: rgb(99, 59, 39);



// * * * * * * * * * * * * * * * * * * * * * * * * * * * *  //
// * * * * * * * * * FRAME LEFT * * * * * * * * * * * * //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * *  //

.meadowL1 {
  width: 80%;
  height: 3%;
  border-radius: 200% 330% 0 30px;
  background: $meadowMd;
}
.meadowL2 {
  width: 55%;
  height: 6%;
  border-radius: 300% 250% 0 0;
  background: $meadowLt;
  left: 20%;
}
.treeL1Trunk {
  width: 4%;
  height: 25%;
  background-color: $trunkLt;
  border-radius: 2px;
  left: 20%;
}
.treeL1Leaf {
  width: 10%;
  height: 7%;
  background-color: $leafLt;
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  &.l1 {
    bottom: 24% !important;
    left: 20%;
    transform: rotate(-20deg);
    transform-origin: bottom;
    background-color: $leafMd;
  }
  &.l2 {
    background-color: $leafMd;
    bottom: 18% !important;
    left: 23%;
  }
  &.l3 {
    bottom: 19% !important;
    left: 21%;
    transform: rotateY(180deg);
    transform-origin: left;
  }
  &.l4 {
    bottom: 11.5% !important;
    left: 23%;
  }
  &.l5 {
    background-color: $leafMd;
    bottom: 13% !important;
    left: 21%;
    transform: rotateY(180deg);
    transform-origin: left;
  }
  &.l6 {
    bottom: 6% !important;
    left: 23%;
    background-color: $leafDk;
  }
  &.l7 {
    bottom: 7% !important;
    left: 21%;
    transform: rotateY(180deg);
    transform-origin: left;
    background-color: $leafDk;
  }
}
.treeL2Trunk {
  width: 4%;
  height: 20%;
  background: $trunkMd;
  right: 37%;
  border-radius: 2px;
}
.treeL2Leaf1Outer {width: 25%; padding-top: 25%; right: 25%; bottom: 19% !important;}
.treeL2Leaf2Outer {width: 15%; padding-top: 15%; right: 37%; bottom: 15% !important;}
.treeL2Leaf3Outer {width: 20%; padding-top: 20%; right: 21%; bottom: 14% !important;}
.treeL2Leaf1, .treeL2Leaf2, .treeL2Leaf3 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom left, $leafDk 50%, $leafMd 50%);
  border-radius: 50%;
}






// * * * * * * * * * * * * * * * * * * * * * * * * * * * *  //
// * * * * * * * * * FRAME RIGHT * * * * * * * * * * * * //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * *  //

.meadowR1 {
  width: 80%;
  height: 2%;
  border-radius: 150% 200% 0 0;
  background: $meadowMd;
  right: 2%;
}
.meadowR2 {
  width: 40%;
  height: 4%;
  border-radius: 300% 250% 0 0;
  background: $meadowLt;
  right: 35%;
}
.meadowR3 {
  width: 30%;
  height: 5%;
  border-radius: 180% 300% 0 0;
  background: $meadowDk;
  right: 7%;
}

.treeR1Trunk {
  width: 4%;
  height: 23%;
  background: $trunkLt;
  left: 40%;
  border-radius: 2px;
}
.treeR1Leaf1Outer, .treeR1Leaf2Outer, .treeR1Leaf3Outer {
  width: 15%;
  padding-top: 15%;
  transform: rotate(-45deg);
  transform-origin: 70% 60%;
  left: 34%;
  bottom: 21% !important;
}
.treeR1Leaf2Outer {
  width: 18%;
  padding-top: 18%;
  bottom: 17% !important;
  left: 33%;
}
.treeR1Leaf3Outer {
  width: 21%;
  padding-top: 21%;
  bottom: 12% !important;
  left: 32%;
}
.treeR1Leaf1, .treeR1Leaf2, .treeR1Leaf3 {
  width: 100%;
  height: 100%;
  background-color: $leafLt;
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
}
.treeR1Leaf2 {background-color: $leafMd;}
.treeR1Leaf3 {background-color: $leafDk;}
.treeR2Trunk {
  width: 4%;
  height: 22%;
  background: $trunkMd;
  right: 20%;
  border-radius: 4px;
}
.treeR2Branch1, .treeR2Branch2, .treeR2Branch3 {
  width: 50%;
  height: 17%;
  background: $trunkMd;
  left: 0%;
  bottom: 85% !important;
  transform: rotate(-45deg);
  transform-origin: bottom;
  border-radius: 2px;
}
.treeR2Branch2 {
  bottom: 75% !important;
  left: 30%;
  transform: rotate(50deg);
}
.treeR2Branch3 {
  bottom: 68% !important;
  transform: rotate(-40deg);
}
.treeR2Leaf1 {
  width: 24%;
  height: 14%;
  background: $leafDk;
  border-radius: 10px;
  right: 10%;
  bottom: 12% !important;
}
.treeR2Leaf2 {
  top: 7px; left: 7px; right: 7px; bottom: 7px !important;
  border-radius: 7px;
  background: $leafMd;
}
.treeR2Leaf3 {
  top: 7px; left: 7px; right: 7px; bottom: 7px !important;
  border-radius: 7px;
  background: $leafLt;
}